.footer {
    background: #E06B69;
    color: #FFF;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: center;
    margin: 10px;
}

